<nav class="sidebar-nav">
  <!-- Logo/Brand (opzionale) -->
  <div class="sidebar-header">
    <mat-icon class="brand-icon">flight</mat-icon>
    <h3 class="brand-title">Logbook</h3>
  </div>
  
  <!-- Menu principale -->
  <mat-nav-list>
    @for (item of menuItems; track item.route) {
      <a 
        mat-list-item 
        [routerLink]="item.route" 
        routerLinkActive="active">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    }
  </mat-nav-list>
  
  <mat-divider></mat-divider>
  
  <!-- Menu secondario -->
  <mat-nav-list>
    @for (item of secondaryMenuItems; track item.route) {
      <a 
        mat-list-item 
        [routerLink]="item.route" 
        routerLinkActive="active">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    }
  </mat-nav-list>
</nav>
